.container {
  width: 80%;
  max-width: 60%;
  margin-top: 5rem;
  color: #ffffff;
}

.card {
  background-color: #222;
  border-radius: 10px;
  padding: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.card h2,
.card h1 {
  color: #9ec479;
  margin-bottom: 1rem;
}

.card p {
  color: #ccc;
}

.card a {
  color: #9ec479;
  text-decoration: none;
  font-weight: bold;
}

.card ul {
  list-style-type: none;
}

.card ul li {
  margin-bottom: 0.5rem;
}

.hero {
  text-align: center;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
}

.cta {
  display: flex;
  justify-content: space-between; /* or 'space-around' / 'space-evenly' */
  gap: 1rem; /* optional spacing between buttons */
}

.cta .btn {
  background-color: #9ec479;
  padding: 0.8rem 2rem;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  color: #111;
  font-weight: bold;
  transition: background-color 0.3s ease;
  overflow: auto;
  flex: 1; /* ensures buttons grow equally */
  text-align: center;
}


.cta .btn:hover {
  background-color: #7ea351;
}
